@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-red: var(--red);
  --color-orange: var(--orange);
}

:root {
  --radius: 0.625rem;
  --background: #f1f1f1;
  --foreground: oklch(0.147 0.004 49.25);
  --primary: #4a914d;
  --red: #c14146;
  --orange: #f25c37;
}

.dark {
  --background: #f1f1f1;
  --foreground: oklch(0.985 0.001 106.423);
  --primary: #4a914d;
  --red: #c14146;
  --orange: #f25c37;
}

@layer base {
  * {
    /* @apply border-border outline-ring/50; */
  }
  body {
    @apply bg-background text-foreground;
  }
}
